.table {
  width: calc(100% - 2rem);
  margin-inline: auto;
  margin-block: 2rem;
  box-shadow: $shadow-sm;
  overflow: hidden;

  border-collapse: separate;
  border-spacing: 0;

  * {
    font-family: $font-mukata !important;
  }

  img {
    width: 100%;
    height: 5rem;
  }

  tr {
    vertical-align: middle;

    td {
      vertical-align: middle;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid #ccc;
    }

    td {
      &:nth-child(2) {
        font-weight: 600;
      }
    }

    &:hover {
      background-color: hsl(244, 78%, 96%);
    }
  }

  thead {
    th {
      font-weight: 600;
      font-size: 1.1rem;
      font-family: $font-mukata;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      border: 1px solid #ccc;
      padding: 0.5rem;

      &:first-child {
        border-top-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
      }
    }
  }

  tfoot {
    overflow: hidden;
  }
  tfoot tr td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: end;

    button {
      width: auto;
      text-align: end;
    }
  }

  button {
    @extend .button;

    + button {
      margin-inline: 0.5rem;
    }
  }

  .product__variant + .product__variant {
    margin-inline-start: 1ch;
  }
}
